h1, h2{
    font-family: 'New Tegomin', serif;
    
}
body{
    width: 1020px;
    margin: auto;
}
h1{
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left: 1020px;
        width:100%;
    }
    to{
        margin-left: 0px;
    }
}
.box{
    margin: 8px;
    position:relative;
    float: left;
    width: 490px;
    height: 490px;
    border: solid black 1px;
}
section{
    padding-bottom: 50px;
    width: 1020px;
    column-count: 2;
    column-gap: 100px;
    column-width: 400px;
    column-rule-style: solid;
    column-rule-width: 1px;
}
a{
    border: black solid 1px;
    padding:5px;
    margin:3px;
    color: black;
    font-size: 1.2em;
}

input{
    text-align: center;
}

.form_container{
    background-color: lightblue;
    width: 280px;
    height: 340px;
}

.login{
    height:170px;
}

p{
    padding: 10px;
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.detail, .title, .difficulty, .price{
    position: absolute;
}
.title, .difficulty, .price{
    opacity: 0;
}

.detail{
    background: black;
    color:white;
    height: 40px;
    padding: 20px;
}

.title{
    right: 0;
    font-size: 30px;
    width: 300px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    color: lightyellow;
}

.difficulty{
    bottom:0px;
    padding:10px;
    font-size:20px;
    background: rgba(0,0,0,0.5);
}
.difficulty div{
    color: red;
}
.price{
    right: 0;
    bottom: 0;
    height:100px;
    width:100px;
    padding: auto;
    border-radius: 50px;
    background: black;
    color: white;
    text-align:center;
    line-height: 100px;
    color:yellow;
    font-size: 20px;
}

#product_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}