h1{
    font-family: 'New Tegomin', serif;
    
}

a{
    border: black solid 1px;
    padding:5px;
    margin:3px;
    color: black;
    font-size: 1.2em;
}

input{
    text-align: center;
}

.form_container{
    background-color: lightblue;
    width: 280px;
    height: 340px;
}

.login{
    height:170px;
}

p{
    padding: 10px;
}